{% extends 'base.html' %}

{% block mainpanel %}
<div class="row">
    <div class="col-md-6">
        <div class="card p-5">
            <div class="card-body">
                <h2 class="mb-5">Update Details</h2>
            
                <div class="main">
                    <!-- Create a Form -->
                    <form method="POST">
                        <!-- Security token by Django -->
                        {% csrf_token %}
                
                        <!-- form as paragraph -->
                        {{ form.as_p }}
                
                        <input class="btn btn-primary" type="submit" value="Update">
                    </form>
                
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        
        
    </div>
</div>



{% endblock mainpanel %}